/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: sans-serif;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  width: 10%;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
input,
select,
textarea:focus{
    outline: none;
}

title{
    display: none;
}
